body{
    background-image:url(Rafa-fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;    
}

.Titulo{
width: 60%;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
padding: 5px;
text-align: center;
background-color:white;opacity: 0.8;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
}

.titulos{
font-family: 'Trebuchet MS';
text-align: center;
}

.izquierda1{
background-color: white;
margin: 50px;
margin-top: 80px;
width: 20%;
color: black;
opacity: 0.7;
text-align: left;
padding: 15px;
padding-top: 1px;
}

.izquierda1 li{
margin: 10px;
}

.izquierda2{
background-color: white;
margin: 50px;
margin-top: 170px;
width: 20%;
color: black;
opacity: 0.7;
text-align: center;
padding: 15px;
padding-top: 1px;
}

.derecha{
float: right;
border-color: white;
width: 50%;
}