.container {
    width: 300px;
    height: 40%;
    background-color: #006f54;


}
button {
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin: 5px;
    padding: 4px;
    border-radius: 32px;
    font-size: 1.5em;
    border: solid 2px;
    background-color: #00916e;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

button:active {
    background-color: #006f54;
}

button:focus {
    outline: none;
}

.pantalla {
    width: 300px;
    height: 150px;
}
