@font-face {
    font-family: retro;
    src: url("1up.ttf");
}


body{

    background-image: linear-gradient(to bottom left, #2424cfe8, #2db6b6);
    background-attachment: fixed;
}
canvas{

    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 600px;
}

h1{

    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
    font-family: retro; 
    color: white;

}

#gameover{
    position: absolute;
    margin-top: 2%;
    margin-left: 600px;
    border-radius: 5px;
    width : 706px;
    height: 656px;
    background: rgba(0,0,0,0.8);
    display: none;
}

#youwon{
    width: 211px;
    position: absolute;
    top : 145px;
    left : 246px;
    display: none;
}

#youlose{
    width: 706px;
    position: absolute;
    top: 10px;
    left : -10px;
    display: none;
}

#restart{
        position: absolute;
        top: 400px;
        left : 295px;
        cursor: pointer;
        font-size: 25px;
        color : #FFF;
    }


#caja{ /*caja botones*/
    position: fixed;
    top: 100px;
    left: 170px;
    padding: 15px;
    border: 3px solid rgb(37, 48, 85);
    border-radius: 10px;
    background-color: rgb(223, 213, 162);
}
button{
    padding: 10px;  
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    border: rgb(60, 224, 175);
    border-radius: 3px;
    background-color: rgb(224, 60, 60);
    box-shadow: 0 4px #918d8de3;
}
button:active{
    border: none;
    box-shadow: 0 6px #918e8e;
    transform: translateY(3px);
}
button[disabled]{background-color: rgb(138, 228, 223);color: #080808;}
/*Nivel*/
label{font-size: 1.2em;font-weight: bold; }
select{
    font-weight: bold;
    background-color: rgb(60, 224, 175);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
/*estilo caja instrucciones*/
.manual {
    position: absolute;
    background: rgb(224, 211, 211);
    color: rgb(37, 35, 35);
    font-family: 'Times New Roman', Times, serif;
    width: 365px;
    padding: 20px;
    transform: translateX(-500px);
    transition: transform 1s ease-in-out;
    border-radius: 5px;
    margin-left: 75px;
    display: none;
}
.manual.show{transform: translateY(230px);}
#btn_inst{cursor: pointer;}
#close{float: right;font-size: 10px;cursor: pointer;}
span{border: 2px solid black;border-radius: 5px;padding: 3px;font-size: 15px;font-weight: bold;}