@font-face {
    font-family: titulo;
    src: url("big_noodle_titling.ttf");
}

@font-face {
    font-family: titulo cursiva;
    src: url("big_noodle_titling_oblique.ttf");
}

@font-face {
    font-family: boton;
    src: url("JMH\ Typewriter.ttf");
}

body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    font-family: titulo cursiva;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 50px;   
    text-shadow: #1e6368;
    background-color: #1e6368;
}

#cuerpo{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    overflow: hidden;
}

#left{
    width: 50%;
    font-style: normal;
    color: rgb(125, 204, 165);
    text-align: center;
    font-family: titulo;
    font-size: 40px; 
   
   
}

#right{
    width: 50%;
    font-style: normal;
    color: rgb(125, 204, 165);
    text-align: center;
    font-family: titulo; 
    font-size: 40px; 
}

#imagenes{
    display: flex;
    flex-wrap: wrap; 
    width: 130px;
    margin-left: 250px;
}


#imagen1,#imagen2, #imagen3, #imagen4{
    background-color: rgb(125, 204, 165);
    color: rgb(90, 90, 90);
    font-weight: 900;
}

#botones{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1231px;
    margin-left: 675px;
    margin-top: -194px;
}

#original{
    margin-right: 380px;
    margin-left: -70px;
}

button{
    background-color: rgb(90, 90, 90);
    background-position: center;
    color: rgb(125, 204, 165);
    border-radius: 10px;
    border: 10px black;
    text-decoration: none;
    padding: 6px;
    padding-left: 10px; 
    padding-right: 10px;
    font-family: boton;
    font-weight: 30;
    font-size: 20px;
    font-style: normal;
    margin: 5px;
}

button:hover{
    background-color: #1e6368;
}

button:active {

    background-color: rgb(125, 204, 165);
}

#deslizadores{
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    column-count: 3;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 850px;
    justify-items: right;
    align-items: center;
    flex-wrap: wrap; 
    width: 900px;
}


#range_value_R, #range_value_G, #range_value_B{
    margin-right: 25px;
}
